.full{
    width: 100%;
    height: 100%;
  }

.Inter {
    font-family: 'Inter';
}
.Inter400 {
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.3px;
    font-size: 24px;
    line-height: 24px;
    color: #182739;
}
.Inter500 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #182739;
}
.Inter500BT {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #182739;
}
.Inter500B {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #A4B8FF;
}
.Inter600 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    color:white;
}
.Inter600B {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 14px;
    color:#182739;
}

.table {
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width:100%;
    border-top:#E5E5E5 1px solid;
    border-left:#E5E5E5 1px solid;
    border-right: #E5E5E5 1px solid;

}

.modalMax {
    min-width: 0px;
    width: 740px;
    max-width: 740px;
    min-height: 604px;
    margin-top: 70px;
}

 .formGray {
    font-family: 'Inter';
    font-weight: 500;
    font-style: inherit;
    letter-spacing: -0.9px;
    font-size: 14px;
    line-height: 14px;
    color:#6e7a93;
}
.informGray {
    background:#EEEEEE !important;
}
 

.login {
    box-shadow: 5px 10px 50px #6e7a93;
    border: #F9FAFB 1px solid;
    opacity: 50;
    background-color:  #F7F7F7;
    max-height: 500px;
    height: 500px;
} 
.minh-100 {
    height: 100vh;
  }

.errores {
        color: red;
        margin-top: 8px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: rgb(185, 84, 97);
}

/* Estilos personales */
.kPEtSm {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    min-height: 36px;
    display: flex;
}

.jMUEgk {
    box-sizing: border-box;
    margin: 0px 0px 20px;
    min-width: 0px;
}

.grbPED {
    font-family: Inter;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: rgb(24, 39, 57);
    font-size: 24px;
}
.equwpM {
    box-sizing: border-box;
    margin: 0px 0px 0px auto;
    min-width: 0px;
    display: flex;
}
#tableBio:hover {
    cursor: pointer;
}
.hover {
    cursor: pointer;   
}
a:hover {
    cursor: pointer;
}
span:hover {
    cursor: pointer;
    color:#9DB9FF;

}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}
constructed stylesheet
a:link {
    text-decoration: none;
}
constructed stylesheet
.gLSGzc {
    margin-right: 12px;
}
constructed stylesheet
.bpdvte {
    height: 36px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(24, 39, 57);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(209, 221, 235) 0px 0px 0px 1px inset;
    padding: 0.5rem 1rem;
    outline: none;
    transition: fill 0.3s ease-in-out 0s;
    fill: rgb(24, 39, 57);
}
.jsJOEF {
    height: 36px;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    padding: 0.5rem 1rem;
    position: relative;
    outline: none;
    transition: background-color 0.3s ease-in-out 0s;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 121, 255);
}
.btn-infoPrimary {
    background-color: #0062cc !important;
}
.btn-infoBlue {
    background-color:#51cbce !important;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .show > .btn.dropdown-toggle, .show > .btn.dropdown-toggle:focus, .show > .btn.dropdown-toggle:hover, .navbar .navbar-nav > a.btn:hover, .navbar .navbar-nav > a.btn:focus, .navbar .navbar-nav > a.btn:active, .navbar .navbar-nav > a.btn.active, .navbar .navbar-nav > a.btn:active:focus, .navbar .navbar-nav > a.btn:active:hover, .navbar .navbar-nav > a.btn.active:focus, .navbar .navbar-nav > a.btn.active:hover, .show > .navbar .navbar-nav > a.btn.dropdown-toggle, .show > .navbar .navbar-nav > a.btn.dropdown-toggle:focus, .show > .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
    background-color: #0062cc !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}
/* constructed stylesheet */
 textarea, button, select {
    appearance: none;
    background: none;
    border-color: currentcolor;
    border-style: none;
    border-width: medium;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: inherit;
    font: inherit;
    vertical-align: baseline;
}
.modal-90w {
    max-width: 55% !important;
}
@media screen and (min-width: 480px) {
    .twml{
        margin-top:-50px;
        width: 58%;
    }
}
@media screen and (min-width: 500px) {
    .twml{
        width: 60%;
    }
}
@media screen and (min-width: 600px) {
    .twml{
        width: 65%;
    }
}
@media screen and (min-width: 700px) {
    .twml{
        width: 70%;
    }
}
@media screen and (min-width: 750px) {
    .twml{
        width: 70%;
    }
}
@media screen and (min-width: 800px) {
    .twml{
        width: 80%;
    }
}
@media screen and (min-width: 900px) {
    .twml{
        width: 82%;
    }
}
@media screen and (min-width: 1000px) {
    .twml{
        width: 85%;
    }
}


.cwml {
    margin-left:190px;
    padding: 0 20px;
}

@media screen and (min-width: 480px) {
    .cwml{
        width: 58%;
    }
}
@media screen and (min-width: 500px) {
    .cwml{
        width: 60%;
    }
}
@media screen and (min-width: 600px) {
    .cwml{
        width: 65%;
    }
}
@media screen and (min-width: 700px) {
    .cwml{
        width: 70%;
    }
}
@media screen and (min-width: 750px) {
    .cwml{
        width: 70%;
    }
}
@media screen and (min-width: 800px) {
    .cwml{
        width: 80%;
    }
}
@media screen and (min-width: 900px) {
    .cwml{
        width: 82%;
    }
}
@media screen and (min-width: 1000px) {
    .cwml{
        width: 85%;
    }
}

.cvjtHi {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.svgSideBar{
    fill:white;
}
.svgSideBar:hover{
    fill:#497cff;
}
.gOZeoI {
    box-sizing: border-box;
    margin: 10px 0px;
    min-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
}
.colorGrayAG {
    background-color: #d7d7d7!important;
  }
  .colorWhiteAG {
    background-color: #ffffff !important;
  }
  .colorBlueAG {
    background-color:  #add8e6!important;
  }
  .colorBlackAG {
    background-color: black !important;
  }
.iGbtBl.active {
    color:#497cff;
    border-bottom: 2px solid #497cff;
}
a:hover, a:focus{
    color:#497cff !important;
}
.iGbtBl.hover {
    color:#497cff;
    border-bottom: 2px solid #497cff;
}
.iGbtBl:first-child {
    margin-left: 0px;
}
.alert.alert-success {
    background-color:#0054a3 !important;
}
.formGrayTwo{
    color:#717d95 !important;
}
.iGbtBl {
    font-weight: 600;
    padding: 16px 0px;
    margin: 0px 15px;
    display: inline-block;
    transition: color 0.3s ease-in-out 0s;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}
constructed stylesheet
a:link {
    text-decoration: none;
}
constructed stylesheet
.iGbtBl {
    font-weight: 600;
    padding: 16px 0px;
    margin: 0px 15px;
    display: inline-block;
    transition: color 0.3s ease-in-out 0s;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}
constructed stylesheet
a:link {
    text-decoration: none;
}
constructed stylesheet
.iGbtBl {
    font-weight: 600;
    padding: 16px 0px;
    margin: 0px 15px;
    display: inline-block;
    transition: color 0.3s ease-in-out 0s;
}
.ag-theme-alpine .ag-row-odd{
    background-color: #f9fafb;
}
.gBkpnV {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #0154a4;
    box-shadow: 0px 0px 0px 1px;
}
.Inside{
text-align: right;
}
 .insideIn {
    /* text-align: right;
    float: center; */

  }
.gBkpnP {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #ffcc00;
    box-shadow: 0px 0px 0px 1px;
}
.gBkpnX {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 255, 255);
    box-shadow: 0px 0px 0px 1px;
}
.gBkpnZ {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #497cff;
    box-shadow: 0px 0px 0px 1px;
}
.hkWfcR {
    margin-right: 0px;
}
.modal-image{
    max-height: 150px !important;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 9.5%;
  right: 0;
  background-color: #F4F5F6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 5px;
  -webkit-box-shadow: -4px -1px 10px -4px  rgba(83,94,97,1);
-moz-box-shadow: -4px -1px 10px -4px rgba(83,94,97,1);
box-shadow: -4px -1px 10px -4px rgba(83,94,97,1);
}
.no-marginTop {
    top: -9%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  color:#909090;
  font-size: 40px;
  margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #fff;
    border:solid 1px #7d7d7d;
    padding: 0.5rem 0.5rem;
    display: inline-block;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .d-inline-block dx-g-bs4-cursor-pointer {
      background-color: red !important;
  }
  
  input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color:#108A88; color: white; border-color:#108A88;
  }

  div.ag-theme-balham div.ag-row {
    font-size: 14px !important;
    font-family: 'Inter';
    min-width: 30px;
    min-height: 30px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: normal;
    font-weight: 500;
   
}

div.ag-theme-balham  div.ag-header-cell{
    font-size: 16px !important;
    font-weight: 600;
    color:#182739;
    font-family: 'Inter' ;
    
}
.btn:hover,btn:focus {
    background-color: '#0062cc'!important;
}
.selection{
background-color: '#0062cc';
}
.noselection{
background-color: '#51cbce';
}
.inputinvisible{
    background-color: white;
    height: 30px;
    width: 120px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: none;

}
.ag-theme-balham .ag-cell {
    border: 1px solid transparent;
    line-height: 35px !important;
    padding-left: 11px;
    padding-right: 11px; }

.blueStrong{
    background-color: #497cff !important;
}
.blueStrong:focus{
    background-color: red;
}
.blueStrong:active{
    background-color: red;
}
.ag-theme-alpine .ag-row{
    color: #3B3B3B  !important;
    font-weight: 500 ;
    font-family: Montserrat,sans-serif;
    font-size: 13px !important;
}
.montseInter{
    font-family: Montserrat, sans-serif !important;
    letter-spacing: 0.1px !important;
    line-height: 1.5px !important;
}
.montse{
    font-family: Montserrat, sans-serif !important;
}
.modal-title{
    font-family: Montserrat, sans-serif !important;
    color: rgb(0, 0, 0) !important;
    margin-top: 5px !important;
    line-height: 21px !important;
    font-weight: 400 !important;
    font-size: 18px !important;
}
.ag-theme-alpine .ag-paging-panel > * {
    color: #3B3B3B  !important;
    font-weight: 500 ;
    font-family: Montserrat,sans-serif;
    font-size: 13px !important;
}
.jdbeFR{
    min-width: 30px;
    min-height: 30px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 12px;
    line-height: normal;
    font-weight: 500;
    width: 30px;
    height: 30px;
    padding: 9px 11px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #497cff;
    box-shadow: rgb(255 255 255) 0px 0px 0px 1px;
}
